<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-clisitef"
    version="0.0.8">
    <name>Cordova Plugin for clisitef</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/tmezzena/cordova-plugin-clisitef.git</repo>
    <issue>https://github.com/tmezzena/cordova-plugin-clisitef/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/clisitef.js" name="clisitef">
        <runs/>

        <!-- This is the window variable name you want, like window.clisitef -->
        <clobbers target="clisitef" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="clisitef">
          <param name="android-package" value="com.cns.plugin_clisitef.clisitef" />
          <param name="onload" value="true" />
        </feature>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
        <uses-permission android:name="android.permission.BLUETOOTH"/>
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
      </config-file>   
      <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity android:label="Venda TEF" android:name="com.cns.plugin_clisitef.XActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:label="Venda TEF" android:name="com.cns.plugin_clisitef.DialogActivity" android:theme="@android:style/Theme.Dialog" />
        <activity android:label="Venda TEF" android:name="com.cns.plugin_clisitef.MenuActivity" android:theme="@android:style/Theme.Dialog" />
        <activity android:label="Venda TEF" android:name="com.cns.plugin_clisitef.SimNaoActivity" android:theme="@android:style/Theme.Dialog" />
      </config-file>   
      
      <source-file src="src/android/com/cns/plugin_clisitef/clisitef.java" target-dir="src/com/cns/plugin_clisitef/" />
      <source-file src="src/android/com/cns/plugin_clisitef/XActivity.java" target-dir="src/com/cns/plugin_clisitef/" />
      <source-file src="src/android/com/cns/plugin_clisitef/DialogActivity.java" target-dir="src/com/cns/plugin_clisitef/" />
      <source-file src="src/android/com/cns/plugin_clisitef/MenuActivity.java" target-dir="src/com/cns/plugin_clisitef/" />
      <source-file src="src/android/com/cns/plugin_clisitef/SimNaoActivity.java" target-dir="src/com/cns/plugin_clisitef/" />
      <source-file src="src/android/br/com/softwareexpress/sitef/jclisitef-android.jar" target-dir="libs"/>
      <source-file src="src/android/br/com/softwareexpress/sitef/arm64-v8a" target-dir="libs"/>
      <source-file src="src/android/br/com/softwareexpress/sitef/armeabi" target-dir="libs"/>
      <source-file src="src/android/br/com/softwareexpress/sitef/armeabi-v7a" target-dir="libs"/>
      <source-file src="src/android/br/com/softwareexpress/sitef/mips" target-dir="libs"/>
      <source-file src="src/android/br/com/softwareexpress/sitef/mips64" target-dir="libs"/>
      <source-file src="src/android/br/com/softwareexpress/sitef/x86" target-dir="libs"/>
      <source-file src="src/android/br/com/softwareexpress/sitef/x86_64" target-dir="libs"/>
      <resource-file src="src/android/com/cns/plugin_clisitef/layout" target="res/layout"/>
      <resource-file src="src/android/com/cns/plugin_clisitef/values" target="res/values"/>

    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/clisitef.js" name="clisitef">
            <runs/>
            <clobbers target="clisitef" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="clisitef">
                <param name="ios-package" value="clisitef" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/clisitef.h" />
        <source-file src="src/ios/clisitef.m" />
    </platform>
</plugin>
